<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AccountBook">
    <select id="categoryBig" resultType="String">
        SELECT DISTINCT `type`
        FROM category_big
    </select>

    <select id="categorySmall" parameterType="String" resultType="com.finance.budget.dto.CategoryResponseDto">
        SELECT cs.id, cs.content
        FROM category_small cs
            LEFT JOIN category_big cb
            ON cs.category_id = cb.id
        WHERE `type` = #{cateBig}
    </select>

    <insert id="write" parameterType="com.finance.budget.dto.AccountBookRequestDto">
        INSERT INTO account_book (content, amount, memo, `date`, category_id, user_id)
        VALUES (#{content}, #{amount}, #{memo}, #{date}, #{categoryId}, #{userId})
    </insert>

    <update id="updateCategory" parameterType="hashMap">
        UPDATE month_category_money
        SET
        <choose>
            <when test="type == 0">
                total_money = total_money + #{amount}
            </when>
            <when test="type == 1">
                current_money = current_money + #{amount}
            </when>
            <when test="type == 2">
                total_money = total_money - #{amount}
            </when>
            <otherwise>
                current_money = current_money - #{amount}
            </otherwise>
        </choose>
        WHERE user_id = #{userId} AND YEAR(`current_date`) = #{year} AND MONTH(`current_date`) = #{month}
            AND category_id =
                (
                    SELECT cb.id
                    FROM category_small cs LEFT JOIN category_big cb ON cs.category_id = cb.id
                    WHERE cs.id = #{categoryId}
                )
    </update>

    <update id="updateMonth" parameterType="hashMap">
        UPDATE month_money
        SET
        <choose>
            <when test="type == 0">
                total_money = total_money + #{amount}
            </when>
            <when test="type == 1">
                current_money = current_money + #{amount}
            </when>
            <when test="type == 2">
                total_money = total_money - #{amount}
            </when>
            <otherwise>
                current_money = current_money - #{amount}
            </otherwise>
        </choose>
        WHERE user_id = #{userId} AND YEAR(`current_date`) = #{year} AND MONTH(`current_date`) = #{month}
    </update>

    <select id="readDay" parameterType="hashMap" resultType="com.finance.budget.dto.AccountBookResponseDto">
        SELECT id, content, amount, memo, `date`, category_id, user_id
        FROM account_book
        WHERE user_id = #{userId} AND YEAR(`date`) = #{year} AND MONTH(`date`) = #{month} AND DAY(`date`) = #{day}
    </select>

    <select id="read" parameterType="hashMap" resultType="com.finance.budget.dto.AccountBookResponseDto">
        SELECT id, content, amount, memo, `date`, category_id, user_id
        FROM account_book
        WHERE user_id = #{userId} AND id = #{id}
    </select>

    <select id="readStatis" parameterType="hashMap" resultType="com.finance.budget.dto.AccountBookRequestDto">
        SELECT id, content, amount, memo, `date`, category_id, user_id
        FROM account_book
        WHERE user_id = #{userId} AND id = #{id}
    </select>

    <select id="searchCategory" parameterType="int" resultType="String">
        SELECT `type`
        FROM category_big
        WHERE id = (
                SELECT category_id
                FROM category_small
                WHERE id = #{categoryId}
            )
    </select>

    <update id="update" parameterType="com.finance.budget.dto.AccountBookRequestDto">
        UPDATE account_book
        SET content = #{content}, amount = #{amount}, memo = #{memo}, `date` = #{date}, category_id = #{categoryId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="hashMap">
        DELETE FROM account_book
        WHERE user_id = #{userId} AND id = #{id}
    </delete>
</mapper>