<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Budget">

    <select id="count" parameterType="Map">
        SELECT COUNT(*)
        FROM month_category_money
<!--        WHERE YEAR(current_date) = YEAR(#{date.get("year")}) AND MONTH(current_date) = MONTH(#{date.get("year")})-->
        WHERE YEAR(`current_date`) = YEAR(#{date.get("year")}) AND MONTH(`current_date`) = MONTH(#{date.get("year")})
    </select>

</mapper>
