<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Budget">
    <select id="count" parameterType="hashMap" resultType="int">
        SELECT COUNT(*)
        FROM month_category_money
        WHERE user_id = #{userId} AND YEAR(`current_date`) = #{year} AND MONTH(`current_date`) = #{month}
    </select>

    <insert id="write" parameterType="java.util.List">
        INSERT INTO month_category_money (total_money, `current_date`, user_id, category_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.totalMoney}, #{item.currentDate}, #{item.userId}, #{item.categoryId})
        </foreach>
    </insert>

    <insert id="writeMonth" parameterType="com.finance.budget.dto.BudgetRequestDto">
        INSERT INTO month_money (`current_date`, user_id)
        VALUES (#{currentDate}, #{userId})
    </insert>

    <select id="read" parameterType="hashMap" resultType="com.finance.budget.dto.BudgetResponseDto">
        SELECT mc.id, user_id, category_id, content, current_money, total_money, `current_date`
        FROM month_category_money as mc
            LEFT JOIN category_big as cb
                ON mc.category_id = cb.id
        WHERE user_id = #{userId}
          AND YEAR(`current_date`) = #{year}
          AND MONTH(`current_date`) = #{month}
          AND `type` NOT IN ('수입', '저금');
    </select>
</mapper>